.container {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    width: 334px;
    height: 79px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #000;
    text-align: left;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 63px;
}

.accent {
    color: #4bcaff;
}

.header-navigation {
    display: block;
    background-color: #35444f;
}

.header-navigation-list {
    display: flex;
    height: 69px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    justify-content: center;
}

.header-navigation-list :hover {
    background-color: #222f3a;
}

.header-list-item {
    display: block;
    border-left: 1px solid white;
    padding-top: 19px;
    padding-left: 34px;
    padding-right: 34px;
}

.header-list-lastItem {
    border-right: 1px solid white;
}

.header-item-link {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-container {
    flex-direction: row;
    padding-top: 49px;
    gap: 52px;
}

.aside-navigation {
    width: 344px;
}

.aside-navigation-list {
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
}

.aside-navigation-list :hover {
    background-color: #dbdbdb;
    padding-left: 0px;
    text-align: center;
}

.aside-list-item {
    width: 342px;
    height: 81px;
    padding-top: 25px;
    padding-left: 42px;
}

.aside-list-link {
    color: #35444f;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.img-background {
    width: 885px;
    height: 529px;
    margin-bottom: 37px;
    padding-top: 74px;
    padding-left: 282px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
}

.img-background :hover {
    transform: scale(1.1);
}

.text {
    margin-top: 13px;
    margin-bottom: 54px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(99, 105, 110, 0.48);
    gap: 135px;
}

.footer-navigation {
    display: block;
    height: 69px;
    padding-top: 22px;
}

.footer-navigation-list {
    display: flex;
    gap: 30px;
}
.footer-navigation-list :hover {
    text-decoration: underline;
    color: #3181a6;
}

.footer-list-link {
    color: #0c1927;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.footer-text {
    display: block;
    color: #010101;
    padding-top: 22px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
