.header-container {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    border-bottom: #ebe8f4 solid 1px;
}

.logo {
    color: #22202e;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 150px;
}

.header-textNav-list {
    display: flex;
    gap: 44px;
    color: #726e8d;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-imgNav {
    justify-self: flex-end;
}

.header-imgNav-list {
    margin-left: 280px;
    display: flex;
    gap: 16px;
}

.header-imgNav-searchLink {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/Search.svg);
}

.header-imgNav-cartLink {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/Shopping--cart.svg);
}

.header-imgNav-avatarLink {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/User--avatar.svg);
}

.container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}

.page-name {
    color: var(--Dark-Primary, #2a254b);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    margin-bottom: 24px;
}

.menu {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.categoty {
    display: block;
    padding: 12px 24px 12px 40px;
    background: url(../img/Caret--down.svg) no-repeat right;
}

.product-type {
    display: block;
    padding: 12px 24px 12px 40px;
    background: url(../img/Caret--down.svg) no-repeat right;
}

.price {
    display: block;
    padding: 12px 24px 12px 40px;
    background: url(../img/Caret--down.svg) no-repeat right;
}

.brand {
    display: block;
    padding: 12px 24px 12px 40px;
    background: url(../img/Caret--down.svg) no-repeat right;
}

.sorting {
    margin-left: 450px;
    margin-right: 16px;
}

.data-added {
    display: block;
    justify-self: flex-end;
    padding: 12px 24px 12px 40px;
    background: url(../img/Caret--down.svg) no-repeat right;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: min-content min-content min-content;
    gap: 20px;
}

.description {
    color: var(--Dark-Primary, #2a254b);
    margin-top: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.accent {
    color: var(--Dark-Primary, #2a254b);
    margin-top: 52px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.chair1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.chair2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.chair3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.silky-vase1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.silky-vase2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.silky-vase3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.rustic-vase1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.rustic-vase2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.rustic-vase3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.lamp1 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.lamp2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.lamp3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.button {
    color: #2a254b;
    background: var(--Light-Grey, #f9f9f9);
    width: 175px;
    height: 56px;
    margin-top: 48px;
    margin-bottom: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-left: 590px;
}

.main-bottom {
    padding-left: 769px;
    padding-top: 71px;
    padding-bottom: 70px;
    background: url(../img/club.jpg) no-repeat;
}

.main-bottom-name {
    color: var(--Dark-Primary, #2a254b);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-bottom-description {
    color: var(--Dark-Primary, #2a254b);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 24px;
}

.bottom-button {
    width: 120px;
    height: 56px;
    text-align: center;
    background: var(--Dark-Primary, #2a254b);
    color: var(--White, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 216px;
}

.footer-main-container {
    background: var(--Dark-Primary, #2a254b);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 59px;
    padding-bottom: 24px;
}

.footer-container {
    display: flex;
    padding-bottom: 57px;
}

.footer-nav {
    display: flex;
    gap: 100px;
}

.footer-list-item {
    margin-top: 12px;
}

.footer-list-link {
    color: var(--White, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-main-item {
    margin-top: 0px;
}

.footer-accent {
    color: var(--White, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.map {
    margin-left: 260px;
}

.bottom-container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: #4e4d93 solid 1px;
}

.company {
    color: var(--White, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-list {
    display: flex;
    margin-left: 1081px;
}

.linkedin-link {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--linkedin.svg);
}

.facebook-link {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../img/logo--facebook.svg);
}

.instagram-link {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/logo--instagram.svg);
}

.pinterest-link {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/logo--pinterest.svg);
}

.skype-link {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/logo--skype.svg);
}

.twitter-link {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/logo--twitter.svg);
}
