body {
    font-family: sans-serif;
    margin: 0px;
}

.navigation-header {
    width: 635px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-header {
    display: block;
    margin: 0px;
    padding-inline-start: 0px;
    width: 100%;
}

.menu-header-item {
    display: inline;
    text-align: none;
    margin-right: 72px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.menu-header-lastItem {
    margin-right: 0px;
}

.menu-header-link {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.container {
    display: block;
    width: 856px;
    margin-left: auto;
    margin-right: auto;
    padding: 88px 0px 88px 0px;
}

.title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-text {
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 24px;
    line-height: 150%;
}

.accent {
    color: #04959e;
}

.main-list {
    padding-left: 18px;
}

.main-list-item {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.main-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 24px;
    background-color: #04959e;
    border-color: #04959e;
    margin-top: 50px;
    margin-bottom: 88px;
}

.main-button-link {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.line {
    height: 1px;
    align-self: stretch;
    background: #161616;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-text {
    margin: 0px;
    display: block;
    width: 856px;
    padding: 16px 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}
