.container {
    display: flex;
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header-container {
    margin-top: 30.5px;
}

.logo {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
    margin-right: 44px;
    font-family: Quicksand;
}

.header-container-button {
    background-color: #0f8277;
    width: 103px;
    height: 39px;
    color: #eee;
    padding-left: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    position: relative;
    margin-right: 44px;
    font-family: Quicksand;
}

.header-container-button::after {
    content: ">";
    display: inline-block;
    color: #eeeeee;
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: Quicksand;
}

.header-form {
    display: flex;
    width: 330px;
    height: 36px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 12px;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #5c5c5c;
    margin-right: 104px;
    align-items: center;
    font-family: Quicksand;
}

.header-input {
    width: 210px;
    height: 19px;
}

.header-submit-button {
    width: 36px;
    height: 36px;
    background-color: #0f8277;
    padding: 10px 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #5c5c5c;
    font-family: Quicksand;
}

.header-item {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    font-family: Quicksand;
}

.header-item-second {
    margin-left: 48px;
    margin-right: 104px;
}

.header-log {
    color: #0f8277;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 10px 12px;
    margin-right: 16px;
    font-family: Quicksand;
}

.link-green {
    color: #eee;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
    background: #0f8277;
    padding: 10px 12px;
    font-family: Quicksand;
}

.header-container-bottom {
    height: 602px;
    background-color: #dbf3ed;
    margin-bottom: 80px;
    margin-top: 32.5px;
}

.header-content {
    width: 482px;
    margin-left: 110px;
    margin-right: 94px;
}

.header-name {
    color: #000;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    font-family: Quicksand;
}

.header-text {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 36px;
    margin-bottom: 36px;
    font-family: Quicksand;
}

.header-button {
    width: 115px;
    height: 39px;
    color: #0f8277;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
    border: 2px solid #0f8277;
    font-family: Quicksand;
}

.header-button-green {
    width: 132px;
    color: #eee;
    background: #0f8277;
    margin-right: 24px;
    font-family: Quicksand;
}

.section-accent {
    color: #0f8277;
    font-size: 20px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.section-text {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: Quicksand;
}

.section-description {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    font-family: Quicksand;
}

.main-container {
    display: block;
}

.programs {
    margin-top: 40px;
    margin-bottom: 80px;
    margin-bottom: 80px;
}

.cards {
    display: flex;
    margin-top: 40px;
    gap: 24px;
}

.option {
    width: 416px;
    border-radius: 6px;
    border: 1px solid #bababa;
    padding-bottom: 24px;
}

.card-img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.institute {
    display: flex;
    margin-top: 24px;
    margin-bottom: 16px;
    padding-left: 16px;
}

.institute-name {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-left: 12px;
}

.card-name {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 96px;
    padding-left: 16px;
}

.another-card-name {
    margin-bottom: 66px;
    padding-left: 16px;
}

.courses {
    margin-bottom: 80px;
}

.option-link {
    display: flex;
    gap: 12px;
    align-content: center;
    color: #0f8277;
    font-size: 16px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding-left: 16px;
}

.section-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
    color: #0f8277;
    font-size: 20px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.featured-name-container {
    display: flex;
    gap: 24px;
}

.featured-name {
    color: #000;
    margin-top: 40px;
    width: 306px;
    font-size: 24px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 120%;
}

.featured-container {
    margin-top: 32px;
    margin-bottom: 40px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: min-content min-content min-content;
    gap: 24px 32px;
}

.featured-container-item {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 500;
    line-height: 30px;
}

.featured-container-accent {
    color: #0f8277;
    font-size: 20px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 120%;
}

.maxwidth-section {
    background: #dbf3ed;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.companies-section-text {
    width: 871px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.companies-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.solutions {
    display: flex;
    gap: 72px;
    margin-top: 80px;
}

.solutions-inform {
    margin-top: 77.5px;
    margin-bottom: 77.5px;
    width: 636px;
}

.solutions-img {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 196px 196px 196px;
    gap: 2px 0px;
}

.solutions-img-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 136px;
}

.img-item-sideBorder {
    border-left: 1px solid #bababa;
    border-right: 1px solid #bababa;
}

.img-item-bottomBorder {
    border-bottom: 1px solid #bababa;
}

.img-item-topBorder {
    border-top: 1px solid #bababa;
}

.plans-section {
    padding-bottom: 100px;
}

.section-text-center {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.plans {
    display: flex;
    gap: 27px;
    padding-top: 40px;
    text-align: center;
}

.plans-item {
    width: 416px;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #0f8277;
    background: #fdfdfd;
}

.plans-item-green {
    background: #0f8277;
}

.plan-name {
    width: 304px;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 120%;
}

.plan-green {
    color: #fff;
}

.plan-description {
    width: 304px;
    margin-top: 27px;
    margin-bottom: 27px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 500;
    line-height: 120%;
}

.plan-green {
    color: #fff;
}

.plan-price-container {
    width: 304px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.plan-price {
    color: #000;
    font-size: 16px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.plan-price-accent {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 120%;
}

.plan-green {
    color: #fff;
}

.link-green-border {
    border: 2px solid #fff;
}

.training-link {
    position: relative;
    top: 85px;
    font-family: Cabin;
}

.link-monthly {
    position: relative;
    top: 37px;
    font-family: Cabin;
}

.link-annual {
    position: relative;
    top: 56px;
    font-family: Cabin;
}

.plan-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 304px;
    border-top: 2px solid #0f8277;
    padding-top: 48px;
}

.plan-bottom-containerGreen {
    border-top: 2px solid #fff;
    margin-top: 150px;
}
.plan-bottom-containerLeft {
    margin-top: 198px;
}

.plan-bottom-containerRight {
    margin-top: 169px;
}

.plan-include {
    text-align: left;
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.plan-include::before {
    display: inline-block;
    text-align: center;
    content: url(../img/Vector.svg);
    border-radius: 500px;
    background: #0f8277;
    width: 16px;
    height: 16px;
}

.plan-include-green::before {
    display: inline-block;
    text-align: center;
    content: url(../img/Vector\ green.svg);
    border-radius: 500px;
    background: #fff;
    width: 16px;
    height: 16px;
}

.foto-section {
    background: #fff;
    padding-top: 80px;
    padding-bottom: 86.5px;
}

.foto-container {
    padding-top: 40px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 306px 306px 306px 306px;
    gap: 24px;
}

.featured-container-item {
    width: 306px;
    height: 210.5px;
}

.foto2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.foto3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.foto4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.foto5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.foto6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.foto7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.foto8 {
    grid-column-start: 4;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.foto9 {
    grid-column-start: 5;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.form-section {
    background: url(../img/background-img.png) no-repeat;
    background-size: 100%;
    height: 727px;
    position: relative;
}

.form-section::after {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 727px;
    left: 0px;
    top: 0px;
}

.form-container {
    position: absolute;
    z-index: 2;
    left: 462px;
    top: 48px;
    display: flex;
    width: 565px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    background: #dbf3ed;
}

.form-type-container {
    margin-bottom: 24px;
}

.form-label {
    display: block;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 600;
    line-height: 24px;
}

.main-input {
    border-radius: 4px;
    border: 1px solid #0f8277;
    background: #fdfdfd;
    width: 505px;
    height: 48px;
    padding: 12px;
    margin-top: 8px;
}

.main-textarea-message {
    height: 104px;
    padding: 12px;
}

.main-submit-button {
    color: #f6fdff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    display: flex;
    width: 196px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #0f8277;
}

.footer-container {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.footer-inf {
    width: 306px;
}

.footer-text {
    margin-top: 16px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-family: Quicksand;
    font-weight: 500;
    line-height: 120%;
}

.media {
    display: flex;
    justify-content: end;
    gap: 24px;
}

.instagram {
    display: inline-block;
    background: url(../img/instagram.svg);
    width: 32px;
    height: 32px;
}

.facebook {
    display: inline-block;
    background: url(../img/facebook.svg);
    width: 32px;
    height: 32px;
}

.linkedIn {
    display: inline-block;
    background: url(../img/linkedIn.svg);
    width: 32px;
    height: 32px;
}

.footer-text-right {
    margin-top: 60px;
}
